@import 'sticky-footer-navbar.css';

.col-centered{
float: none;
margin: 0 auto;
}
.published-date {
    color: cadetblue;
}
.news-container {
    
    background-color:bisque;
}

.news-container > article img {
    
    max-height: 250pt;
    max-width: 100%;
}

.news-container > article img:hover {
    border: 5pt dashed darkcyan;
}

.links:hover {
    background-color: darkcyan;
}

.hidden {
    display:none;
}

.debug {
    background-color: rebeccapurple;
}
.debug-opposite {
    background-color: coral;
}