@import 'sticky-footer-navbar.css';

.col-centered{
float: none;
margin: 0 auto;
}
.published-date {
    color: cadetblue;
}
.news-container {
    
    background-color:bisque;
}

.news-container > article img {
    
    max-height: 250pt;
    max-width: 100%;
}

.news-container > article img:hover {
    border: 5pt dashed darkcyan;
}

.links:hover {
    background-color: darkcyan;
}

.hidden {
    display:none;
}

.widescreen {
    
}

.debug {
    background-color: rebeccapurple;
}
.debug-opposite {
    background-color: coral;
}

.news-spotlight h3 {
    /*
    breaks ember's css
    position:absolute;
    -> switch to ember-overlays
    */
    color: whitesmoke;
    padding: 6pt;
    opacity: .7;
    background-color: black;
}

.news-abstract {
    background-color: black;
    padding: 6pt;
    opacity: .7;
}
.news-spotlight img {
    max-width: 95%;
    max-height: 600pt;
}