<div class="index-page">
<h3>TODO</h3>
<div class="row">
<h4>- Show favorite news</h4>
        {{news-spotlight news=model}}
</div>
<div class="row">
<h4>
- Show family members
</h4>
</div>
</div>
{{outlet}}
